/*{
  outline: 1px solid #ff0000;
 }*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  scroll-behavior: smooth;
}

.navheader {
  position: fixed;
  width: 100%;
  height: auto;
  z-index: 100000;
}
.navbar {
  background: linear-gradient(to top, #000000 0%, #242222 100%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}


.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbar__logo {
  background-color: rgb(255, 255, 255);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2.5rem;
}




.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}

.navbar__links:hover {
  color: #ffb68c;
  text-decoration: none;
  transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }

  .navbar__menu.active {
    background: #cccaca;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 84vh;
    font-size: 1.6rem;
  }

  #navbar__logo {
    padding-left: 25px;
    font-size: 1.5rem;
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: rgb(0, 0, 0);
  }

  .navbar__item {
    width: 100%;
  }

  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navbar__btn {
    padding-bottom: 2.5rem;
  }

  /*.button {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 60px;
      width: 80%;
      height: 80px;
      margin: 0;
    }*/

  #mobile-menu {
    position: absolute;
    top: 35%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar__toggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* Hero Section */
.hero {
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.72),
      rgba(0, 0, 0, 0.58)
    ),
    url(images/banner2.jpg);
  background-size: cover;
  align-items: center;
  object-fit: contain;
  display: grid;
  box-sizing: border-box;
  list-style-type: none;
  background-position: center;
  background-attachment: scroll;
  padding: 200px 0;
  height: 100%;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 90%;
  text-align: center;
  padding: 30px;
}

.hero__heading {
  font-size: 100px;
  margin-bottom: 24px;
  color: #ffb68c;
}

.hero__heading span {
  background: #d3cce3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e9e4f0,
    #d3cce3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e9e4f0,
    #d3cce3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -mo-text-fill-color: transparent;
}

.hero__description {
  font-size: 60px;
  background: #d3cce3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e9e4f0,
    #d3cce3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e9e4f0,
    #d3cce3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.highlight {
  border-bottom: 4px solid #a57c64;
}

@media screen and (max-width: 768px) {
  .hero__heading {
    font-size: 60px;
  }

  .hero__description {
    font-size: 40px;
  }
}

/* About Section */
.main {
  background-color: #ffffff;
  padding: 5rem 0;
}

.main h1 {
  background-color: #000000;
  /* background-image: linear-gradient(to right, #ff0844 0%, #f7673c 100%);*/
  background-size: 100%;
  text-align: center;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom: 5rem;
  font-size: 4rem;
}

.main__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 90%;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
}

.main__content {
  color: #fff;
  width: 100%;
}

.main__content h1 {
  font-size: 3rem;
  background-color: #000000;
  background-image: linear-gradient(to top, #000000 0%, #000000 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-transform: uppercase;
  margin-bottom: 32px;
}



.main__content p {
  color: #000000;
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
}

.main__btn {
  font-size: 1.8rem;
  background: #000000;
  background: -webkit-linear-gradient(to right, #1ebea5, #1ebe7b, #1ebe66);
  background: linear-gradient(to right, #1ebea5, #1ebe7b, #1ebe66);

  padding: 20px 60px;
  border: none;
  border-radius: 50px;
  margin-top: 2rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

.main__btn a {
  position: relative;
  z-index: 2;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.main__btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #cccaca;
  transition: all 0.35s;
  border-radius: 4px;
}

.main__btn:hover {
  color: #fff;
}

.main__btn:hover:after {
  width: 100%;
}

.main__img--container {
  text-align: center;
}

.main__img--card {
  margin: 10px;
  height: 500px;
  width: 500px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-image: url(images/15.jpg);

  background-size: cover;
  align-items: center;
  object-fit: contain;
  display: grid;
  box-sizing: border-box;
}

.fa-layer-group,
.fa-users {
  font-size: 14rem;
}

#card-2 {
  background: #ff512f;
  background: -webkit-linear-gradient(to right, #dd2476, #ff512f);
  background: linear-gradient(to right, #dd2476, #ff512f);
}

/* Mobile Responsive */
@media screen and (max-width: 1100px) {
  .main__container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 90%;
  }

  .main__img--container {
    display: flex;
    justify-content: center;
  }

  .main__img--card {
    height: 425px;
    width: 425px;
  }

  .main__content {
    text-align: center;
    margin-bottom: 4rem;
  }

  .main__content h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  .main__content h2 {
    font-size: 3rem;
  }

  .main__content p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .main__img--card {
    width: 250px;
    height: 250px;
  }

  .fa-users,
  .fa-layer-group {
    font-size: 4rem;
  }

  .main__content h1 {
    font-size: 2rem;
    margin-top: 3rem;
  }
  .main__content h2 {
    font-size: 2rem;
  }

  .main__content p {
    margin-top: 2rem;
  }

  .main__btn {
    padding: 12px 36px;
    margin: 2.5rem 0;
  }
}

/* Expert Section */
.services {
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 5rem 0;
}

.services h1 {
  background-color: #000000;
  /* background-image: linear-gradient(to right, #ff0844 0%, #f7673c 100%);*/
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  margin-bottom: 5rem;
  font-size: 4rem;
  
}

.services__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.services__card {
  margin: 20px;
  height: 425px;
  width: 350px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(0, 0, 0);
 
  transition: 0.3s ease-in;
}

.services__card:nth-child(1) {
  background:linear-gradient(to top, #ffffff 0%, #000000 100%); /* fallback for old browsers */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.services__card:nth-child(2) {
  background: linear-gradient(to top, #ff8383 0%, #000000 100%); /* fallback for old browsers */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.services__card:nth-child(3) {
  background: linear-gradient(to top, #000000 0%, #3ae2cc 100%);
}

.services__card h2 {
  text-align: center;
}

.services__card p {
  text-align: center;
  margin-top: 24px;
  font-size: 20px;
}

.services__card:hover {
  transform: scale(1.075);
  transition: 0.3s ease-in;
  cursor: pointer;
}

@media screen and (max-width: 1300px) {
  .services__wrapper {
    grid-template-columns: 1fr 1fr 1fr ;
  }
}

@media screen and (max-width: 768px) {
  .services__wrapper {
    grid-template-columns: 1fr;
  }
}

/*---project---*/

.projects {
  display: flex;
  flex-wrap: wrap;
  min-width: 320px;
  padding: 2rem;
}


.projects h2 {
  flex-basis: 100%;
  text-align: center;
  margin: 50px auto 30px;
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: 2px;
  color: #111;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4rem;
  margin-right: -2px;
}
.gallery .item {
  line-height: 0;
  display: contents;
}
.gallery .item .img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.gallery .item .img::before {
  position: absolute;
  content: "";
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg width='61' height='61' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.76581 41.8827c-.29383-.647-.56806-1.3332-.80312-1.9606-1.93564-5.3665-2.1917-11.1959-.73409-16.7117 1.45761-5.5159 4.55971-10.4563 8.8931-14.16324 4.3334-3.70695 9.6924-6.00446 15.3631-6.58652 5.6708-.58205 11.3841.57899 16.379 3.32847.2286.1248.4974.15359.7472.08006.2498-.07354.4601-.24338.5848-.47216.1247-.22879.1535-.49778.08-.7478-.0735-.25001-.2432-.46058-.4717-.58537C39.4631 1.12917 33.3562-.108803 27.2953.514513 21.2344 1.13783 15.5066 3.5929 10.8735 7.55331 6.24045 11.5137 2.92159 16.7918 1.35822 22.6858-.205144 28.5799.0610456 34.8106 2.1214 40.5495c.25465.7254.54847 1.4508.86188 2.1566.04731.1252.11971.2393.21276.3354.09306.0961.20478.1721.32829.2233.12352.0513.2562.0767.38989.0746.13369-.002.26555-.0314.38745-.0864.1219-.0549.23126-.1343.32136-.2332.09009-.0989.159-.2152.20248-.3417.04348-.1266.06062-.2607.05035-.3941-.01027-.1334-.04772-.2633-.11005-.3817v-.0196ZM55.8126 14.4155c-.1376-.221-.3574-.3782-.6108-.437-.2535-.0588-.5199-.0145-.7407.1233s-.3779.3577-.4367.6114c-.0587.2537-.0144.5204.1233.7414 3.9352 6.3228 5.1998 13.9513 3.5155 21.2073s-6.1795 13.5452-12.4967 17.484c-6.3173 3.9387-13.9391 5.2044-21.1887 3.5186-7.2497-1.6857-13.5333-6.1849-17.46861-12.5077-.06817-.1094-.1572-.2044-.26202-.2793-.10481-.075-.22336-.1286-.34886-.1577-.12551-.0292-.25552-.0333-.38261-.0121-.12709.0212-.24877.0672-.35809.1354-.10933.0682-.20416.1573-.27907.2622-.07492.1049-.12846.2236-.15756.3492-.0291.1256-.0332.2557-.01206.383.02114.1272.06711.2489.13528.3584 4.21063 6.7647 10.9337 11.5783 18.6903 13.3817 7.7566 1.8035 15.9113.4491 22.6701-3.7653 6.7589-4.2143 11.5682-10.9434 13.3701-18.7068 1.8018-7.7634.4486-15.9252-3.7621-22.69ZM51.3464 11.7884c.0829.103.1859.1882.3026.2504.1167.0622.2448.1.3765.1114.1317.0113.2644-.0042.3899-.0456.1256-.0414.2415-.1078.3408-.1952.0992-.0875.1798-.1941.2368-.3135.0569-.1194.0892-.2491.0947-.3813.0056-.1322-.0157-.2642-.0625-.388-.0468-.1237-.1181-.2368-.2097-.3322-.7263-.82644-1.498-1.61187-2.3114-2.35264-.0935-.09538-.2055-.17063-.3291-.22112-.1236-.05049-.2562-.07515-.3896-.07248-.1335.00268-.265.03263-.3865.08803-.1215.05539-.2304.13506-.32.23411-.0896.09905-.158.21539-.2011.34187-.043.12648-.0598.26043-.0492.39362.0106.1332.0482.26283.1107.38093.0624.1181.1483.22218.2524.30584.7581.69164 1.4775 1.42464 2.1547 2.19584Z' fill='%23fff'/%3E%3Cpath d='M31.3265 29.5117V15.435c0-.26-.1032-.5093-.2868-.6932-.1837-.1838-.4328-.2871-.6926-.2871-.2597 0-.5089.1033-.6925.2871-.1837.1839-.2869.4332-.2869.6932v14.0571H15.8323c-.2598 0-.5089.1032-.6926.2871-.1836.1838-.2868.4331-.2868.6931 0 .26.1032.5093.2868.6932.1837.1838.4328.2871.6926.2871h13.5354v15.1158c0 .26.1032.5093.2869.6931.1836.1839.4328.2871.6925.2871.2598 0 .5089-.1032.6926-.2871.1836-.1838.2868-.4331.2868-.6931V31.4722H44.862c.2597 0 .5088-.1033.6925-.2871.1837-.1838.2869-.4332.2869-.6932 0-.26-.1032-.5093-.2869-.6931-.1837-.1839-.4328-.2871-.6925-.2871H31.3265Z' fill='%23fff'/%3E%3C/svg%3E");
  height: 60px;
  width: 60px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(-0.7);
  opacity: 0;
  z-index: 2;
  transition: 0.2s;
  transform-origin: center center;
}
.gallery .item .img::after {
  content: "";
  display: block;
  position: absolute;
  background: #021107;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 1;
  transition: 0.2s;
}
.gallery .item:hover .img::before {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
.gallery .item:hover .img::after {
  opacity: 0.2;
}
.gallery.col-md-6 {
  margin-right: 0px;
}
.gallery.col-sm-6 {
  margin-right: 0px;
}
.gallery.col-md-6 .item .img {
  width: calc(33.3% - 2px);
  padding-bottom: calc(33.3% - 2px);
  margin: 0 2px 2px 0;
}
.gallery.col-sm-6 .item .img {
  width: calc(33.3% - 2px);
  padding-bottom: calc(33.3% - 2px);
  margin: 0 2px 2px 0;
}
@media only screen and (min-width: 1px) and (max-width: 1023px) {
  .gallery.col-md-6 .item .img {
    width: calc(50% - 2px);
    padding-bottom: calc(50% - 2px);
    margin: 0 2px 2px 0;
  }
}
@media only screen and (min-width: 1px) and (max-width: 1023px) {
  .gallery.col-sm-6 .item .img {
    width: calc(50% - 2px);
    padding-bottom: calc(50% - 2px);
    margin: 0 2px 2px 0;
  }
}

@media only screen and (min-width: 768px) {
  .gallery.col-md-6 {
    flex: 0 0 auto;
    width: 100%;
  }
}

/*--/project---*/

/* contact&footer CSS */
.contact__container {
  background-color: #131313;
  padding-bottom: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__title {
  flex-basis: 100%;
  text-align: center;
  margin: 50px auto 30px;
  text-transform: uppercase;
  font-size: 4rem;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
}

@media only screen and (min-width: 250px) {
  .contact__title {
    flex-basis: 100%;
    text-align: center;
    margin: 50px auto 30px;
    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
  }
}

#contact__logo {
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.contact__links {
  width: 100%;
  max-width: 1000px;
  display: list-item;
  justify-content: center;
}

.contact__link--items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
}

.contact__link--items h2 {
  margin-bottom: 16px;
  color: #fff;
}

.contact__link--items a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 0.5rem;
  transition: 0.3 ease-out;
}

.map {
  filter: brightness(100%) contrast(100%) saturate(0%) blur(0px)
    hue-rotate(0deg);
}

.contact__link--items a:hover {
  color: #e9e9e9;
  transition: 0.3 ease-out;
}

.social__icon--link {
  color: #fff;
  font-size: 24px;
}

.social__media {
  max-width: 1000px;
  width: 100%;
}

.social__media--wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 40px auto 0 auto;
}

.social__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

.website__rights {
  color: #fff;
}

@media screen and (max-width: 820px) {
  .contact__links {
    padding-top: 2rem;
  }

  #contact__logo {
    margin-bottom: 2rem;
  }

  .website__rights {
    margin-bottom: 2rem;
  }

  .contact__link--wrapper {
    flex-direction: column;
  }

  .social__media--wrap {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .contact__link--items {
    margin: 0;
    padding: 10px;
    width: 100%;
  }
}

/*move up */
.footer {
  background-color: #131313;
  padding: 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer #movetop {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 99;
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  width: 35px;
  height: 35px;
  background: rgb(12, 173, 6);
  padding: 0;
  line-height: 35px;
  border-radius: 50%;
  transition: 0.5s ease-out;
}

.footer #movetop:hover {
  background: #00efff;
  transform: translate3d(0, -5px, 0);
  -webkit-transform: translate3d(0, -5px, 0);
  transition: 0.5s ease-out;
}

/*@media all and (max-width: 736px) {
  .footer .copyright {
    order: 2; } }

@media all and (max-width: 667px) {
  .footer ul.footer14-nav li {
    margin: 10px 20px 10px 0px; } }

@media all and (max-width: 440px) {
  .footer ul.footer14-nav,
  .footer .footer14-app {
    margin-top: 2rem; } }*/
